/*set color global variables*/
:root {
    --primary-dark: #323232;
    --primary-light: #ede1d1;
    --secondary-dark: #525e75;
    --secondary-light: #fefefe;
    --burgandy: #a82727;
    --black: #000000;
    --white: #ffffff;
}

/* Grid layout */
body {
  display: grid;
  grid-template-areas: 'header'
                       'main'
                       'footer';
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/*css reset*/
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*footer support*/
html { 
  position: relative;
  min-height: 100vh;
}

/*overall document settings*/
body {
    background-image: url(./images/spaceBackground.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: var(--primary-dark);
    color: var(--primary-light);
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

/*header*/
h1 {
    line-height: 1.2;
}

.header {
    padding: 30px 0;
}
  
.title {
    text-align: center;
    font-size: 80px;
}

.glow {
    font-size: 80px;
    color: var(--burgandy);
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
  
@keyframes glow {
    from {
      text-shadow: 0 0 10px var(--white),
                   0 0 20px var(--white),
                   0 0 30px var(--burgandy),
                   0 0 40px var(--burgandy),
                   0 0 50px var(--burgandy);
    }
    to {
      text-shadow: 0 0 20px var(--white),
                   0 0 30px var(--secondary-dark),
                   0 0 40px var(--secondary-dark),
                   0 0 50px var(--secondary-dark),
                   0 0 60px var(--secondary-dark);
    }
}

/*main body*/
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 90vw;
}

/*footer*/
.footer {
    background-color: var(--primary-dark);
    color: var(--primary-light);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

.fa-github, .fa-heart, .fa-linkedin {
    color: var(--primary-light);
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}
  
.fa-github:hover, .fa-linkedin:hover {
    transform: rotateY(360deg) scale(1.4);
    color: var(--burgandy);
}

.fa-heart:hover {
    transform: scale(1.3);
    color: var(--burgandy);
}

/*media queries*/