/*set color global variables*/
:root {
    --primary-dark: #323232;
    --primary-light: #ede1d1;
    --secondary-dark: #525e75;
    --secondary-light: #fefefe;
    --burgandy: #a82727;
    --black: #000000;
    --white: #ffffff;
    --yellow: #977c1b;
}

/*css reset*/
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*footer support*/
html { 
  position: relative;
  min-height: 100vh;
}

/*overall document settings*/
body {
    /* background-image: url(./images/spaceBackground.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    overflow: hidden;
    background-color: var(--primary-dark);
    background: radial-gradient(circle at bottom, navy 0, black 100%);
    color: var(--primary-light);
    font-family: 'Roboto', sans-serif;
}

.space {
    background: rgba(128, 0, 128, 0.1) center / 200px 200px round;
    /* border: 1px dashed purple; */
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.stars1 {
    animation: space 180s ease-in-out infinite;
    background-image:
      radial-gradient(
        1px 1px at 25px 5px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1px 1px at 50px 25px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1px 1px at 125px 20px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1.5px 1.5px at 50px 75px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        2px 2px at 15px 125px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        2.5px 2.5px at 110px 80px, 
        white, 
        rgba(255, 255, 255, 0)
      );
}

.stars2 {
    animation: space 240s ease-in-out infinite;
    background-image:
      radial-gradient(
        1px 1px at 75px 125px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1px 1px at 100px 75px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1.5px 1.5px at 199px 100px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        2px 2px at 20px 50px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        2.5px 2.5px at 100px 5px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        2.5px 2.5px at 5px 5px, 
        white, 
        rgba(255, 255, 255, 0)
      );
}

.stars3 {
    animation: space 300s ease-in-out infinite;
    background-image:
      radial-gradient(
        1px 1px at 10px 10px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1px 1px at 150px 150px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1.5px 1.5px at 60px 170px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1.5px 1.5px at 175px 180px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        2px 2px at 195px 95px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        2.5px 2.5px at 95px 145px, 
        white, 
        rgba(255, 255, 255, 0)
      );
}

@keyframes space {
    40% {
      opacity: 0.75;
    }
    50% {
      opacity: 0.25;
    }
    60% {
      opacity: 0.75;
    }
    100% {
      transform: rotate(360deg);
    }
}

/*header*/
h1 {
    line-height: 1.2;
}

#header {
    padding: 30px 0;
}
  
.title {
    text-align: center;
    font-size: 80px;
}

.glow {
    font-size: 80px;
    color: var(--burgandy);
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
  
@keyframes glow {
    from {
      text-shadow: 0 0 10px var(--white),
                   0 0 20px var(--white),
                   0 0 30px var(--burgandy),
                   0 0 40px var(--burgandy),
                   0 0 50px var(--burgandy);
    }
    to {
      text-shadow: 0 0 20px var(--white),
                   0 0 30px var(--secondary-dark),
                   0 0 40px var(--secondary-dark),
                   0 0 50px var(--secondary-dark),
                   0 0 60px var(--secondary-dark);
    }
}

/*main body*/
#main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2em;
    max-width: 100vw;
    padding: 2em;
    flex: 1 1 auto;
}

button {
    cursor: pointer;
}

#fightBtn {
  background-color: var(--white);
  border: 0 solid var(--black);
  color: var(--burgandy);
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  width: 100%;
  max-width: 460px;
  position: relative;
  transform: rotate(-5deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#fightBtn:focus {
  outline: 0;
}

#fightBtn:after {
  content: '';
  position: absolute;
  border: 3px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

#fightBtn:hover:after {
  bottom: 2px;
  left: 2px;
  box-shadow: 5px 5px 8px var(--burgandy);
}

@media (min-width: 768px) {
  #fightBtn {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}

#player-ship, #aliens {
    color: white;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}

.hidden {
    display: none;
}

/*footer*/
#footer {
    background-color: var(--primary-dark);
    color: var(--primary-light);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
    height: 2em;
    padding: 10px;
    font-size: 20px;
}

.fa-github, .fa-heart, .fa-linkedin {
    color: var(--primary-light);
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}
  
.fa-github:hover, .fa-linkedin:hover {
    transform: rotateY(360deg) scale(1.4);
    color: var(--burgandy);
}

.fa-heart:hover {
    transform: scale(1.3);
    color: var(--burgandy);
}

/* game modals */
.end-game-modal, .start-game-modal {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 300px;
    padding: 30px;
    user-select: none;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
}

.end-game-modal {
    border-radius: 10px;
    background-color: var(--secondary-dark);
    box-shadow: 0 0 1em var(--burgandy);
    text-align: center;
    font-size: 2em;
}

.end-game-modal.active, .start-game-modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.end-game-modal-title {
    font-size: 30px;
    font-weight: bold;
    color: var(--bisque);
}

.restart-button {
    padding: 10px 20px;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-dark);
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    opacity: 0.6;
}

.modal-overlay.active {
    display: block;
}
